.home-page {
  .hero-section {
    position: relative;
    min-height: 710px;
    display: flex;
    align-items: stretch;

    @include tablet-portrait {
      min-height: 675px;
    }

    @include tablet-landscape {
      min-height: 780px;
    }
  }

  .hero-image {
    width: 100%;
    height: 710px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 15px;
  }
}
